input[type="text"],
input[type="email"],
input[type="password"] {
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.button-container {
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px;
  margin-bottom: 30px;
}

.generic-form {
  background-color: white;
  width: 500px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
}

.title {
  font-size: 40px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.label {
  font-size: 20px;
}

.ImgUser {
  position: relative;
  text-align: center;
}
.ImgUser img {
  height: 80px;
  width: 80px;
  margin: 5px;
}

.btn {
  border-radius: 0.6em;
  cursor: pointer;
  width: 160px;
  height: 50px;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  border-color: #3498db;
  transition: all 150ms ease-in-out;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  color: #fff;
}
.btn:hover,
.btn:focus {
  color: #3498db;
  outline: 0;
}

.btn:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
